<div class="row">
  <div class = "col-5">

    <%if flash[:notice]%>
      <p class = "alert alert-success alert-dark alert-dismissible fade show" id="notice"><%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
      </button></p>
      <%else%>
      <p></p>
    <%end%>  
  </div>
</div>  
<hr> 
<h1><%= @user.name %></h1>
<p>Account Status: <% if @user.verified? %>Verified<% else -%>Not Verified<% end -%>
<% if !@user.verified? %>
<p>
  <%=link_to "Verify your account now", user_verify_path(id: @user.id)%>

</p>
<% end -%>