.field_with_errors {
  background-color: #f0f0f0;
  color: #c00;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.c-logo {
  max-width: 140px;
}

.c-stack {
  &__logo {
    height: 41px;
  }
}


.heading
{
	margin-left: 1rem;
}
 .box
{
	background-color:#dff0d8;
	padding-left: 2rem;
	padding-bottom: 5rem;
}
 .box-form
{
	background-color:#dff0d8;
	margin-left: 2rem;
	padding-right:4rem;
}
.border
{
	margin-left: 1rem;
	padding-left: 2rem;
}
.border
{
	background-color:#dff0d8;
}
.form
{
	margin-left: 2rem;
}
.panel
{
margin-top: 2rem;
margin-bottom: 2rem;
font-family: 'Source Sans Pro';
font-style: normal;
}
 .body
{
	background-color: #e8e8e8;
}
 .blog
{
	padding-bottom: 5 rem;
}
 @import "bootstrap";
